<p><link rel="stylesheet" type="text/css" href="style.css"> <link rel="shortcut icon" href="iitk.ico" type="image/x-icon"/> <link rel="icon" href="iitk.ico" type="image/x-icon"></p>
<div class="figure">
<img src="photo.jpg" />
</div>
<h2 id="name-aditya-agarwal">Name: Aditya Agarwal</h2>
<p>Sophomore Undergraduate,<br /><a href="http://www.cse.iitk.ac.in">Department of Computer Science and Engineering</a>,<br /><a href="http://www.iitk.ac.in">Indian Institute of Technology Kanpur</a>,<br />Kanpur, India</p>
<h4 id="contact-details">Contact Details</h4>
<p><em>Temporary Address</em><br />Room No B-210,<br />Hall of Residence 5,<br />Indian Institute Of Technology Kanpur,<br />Kanpur-208016</p>
<p><em>Phone no</em><br />(+91)-7668801363<br />(+977)-9803042192</p>
<p><em>Email ID</em><br />agaditya22@gmail.com<br />agaditya@iitk.ac.in<br />agaditya@cse.iitk.ac.in</p>
<hr />
<p>You can view my resume <a href="resume.pdf">here</a>.</p>
<hr />
